input/simdb/xsd/simdb/object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:vo-urp="http://vo-urp.googlecode.com/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/object"
            xmlns:base="http://www.ivoa.net/xml/dm/base/v0.1"
            xmlns:p4="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb"
            targetNamespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/object">
   <xsd:annotation>
      <xsd:documentation>Generated from UML-&gt;XMI-&gt;intermediate-&gt;XSD.</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/dm/base/v0.1"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/base.xsd"/>
   <xsd:complexType name="ChildObject">
      <xsd:annotation>
         <xsd:documentation>An associative class representing a child object in a custom object hierarchy.</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_14_0_8e0028f_1202821127921_63028_2898</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>Name of the variable representing the child object on the parent object.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202821184437_301040_3025</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="cardinality" type="p4:Cardinality" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The cardinality/multiplicity of the child object in the containing object.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202821160078_890947_3023</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="object" type="base:Reference">
                  <xsd:annotation>
                     <xsd:documentation>Reference to the ObjectType that is the type of the objectProperty.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202821134250_349698_2921</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="PropertyGroupMember">
      <xsd:annotation>
         <xsd:documentation>Assocuiative object that represents a member in a property group.</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_14_0_8e0028f_1202835016437_620578_3104</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="property" type="base:Reference">
                  <xsd:annotation>
                     <xsd:documentation>Reference to the actual property this class associates to a property group.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202835034093_760280_3180</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="PropertyGroup">
      <xsd:annotation>
         <xsd:documentation>This class represents a naturla grouping of properties on the object type.
Is used for presentation purposes in a browsing environment.</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_14_0_8e0028f_1202834948218_519042_3028</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>Name of this paarameter grouping.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202835002078_514643_3101</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Description of this group.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_14_0_8e0028f_1202835193656_635686_3444</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="member" type="PropertyGroupMember" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Property">
      <xsd:annotation>
         <xsd:documentation>The properties of an object. Similar to the FIELD in a VOTable</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1173260158109_378937_365</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="Field">
            <xsd:sequence>
               <xsd:element name="ucd" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>the UCD of this property. [TBD Could be generalised to OntologyObject if necessary]</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1173260227625_741084_441</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ObjectType" abstract="true">
      <xsd:annotation>
         <xsd:documentation>This class represents and abstract object type, and can thus be seen as a meta-modelling construct.
It allows model instances that represent complex object definitions.</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_1_8e0028f_1178640418734_24506_1505</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>The name of this object type.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_1_8e0028f_1178788918250_721935_284</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Short description of this object type.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_1_8e0028f_1178788927546_683715_286</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="child" type="ChildObject" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="propertyGroup" type="PropertyGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="Field" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Represents a generic field like object.</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1173260612156_632863_688</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>the name of this parameter or property.
Ex: omegaLambda, particleMass, linking length
</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1173260625390_386163_760</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="datatype" type="p4:DataType">
                  <xsd:annotation>
                     <xsd:documentation>the data type of this parameter or property</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1173260634546_792387_762</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="cardinality" type="p4:Cardinality" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>The cardinality of this parameter or property</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_2_8e0028f_1189431131984_927566_351</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Short description of this parameter or property</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_1_8e0028f_1178536325796_565844_252</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="isEnumerated" type="xsd:boolean" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>indicates if this parameter or property only accept values coming from a list of valid values defined by the validValue collection</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1213804318109_864116_621</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="validValue" type="ValidValue" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="ValidValue">
      <xsd:annotation>
         <xsd:documentation>This represents a value for an enumerated parameter or property</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1213804138656_969269_385</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="base:MetadataObject">
            <xsd:sequence>
               <xsd:element name="value" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>the value as string : can be converted to the correct datatype of the asociated parameter or property</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1213804249359_698361_601</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>A description of this value.</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_8e0028f_1213804207593_174840_597</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="label" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:documentation>Short name / alias for this value (useful in GUI)</xsd:documentation>
                     <xsd:appinfo>
                        <vo-urp:identifier>_12_1_bd102fc_1213975320431_986626_265</vo-urp:identifier>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>

</xsd:schema>