input/simdb/xsd/SimDB_root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:vo-urp="http://vo-urp.googlecode.com/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ivoa.net/xml/SimDB/0.7-20090417"
            xmlns:p4="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb"
            xmlns:p3="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/experiment"
            xmlns:p2="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/protocol"
            xmlns:p6="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/object"
            xmlns:p5="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/dal"
            targetNamespace="http://www.ivoa.net/xml/SimDB/0.7-20090417">
   <xsd:annotation>
      <xsd:documentation>Root elements for the model. Generated from UML-&gt;XMI-&gt;intermediate-&gt;XSD.
              As root elements we choose the concrete types in inheritance hierarchies with no contained types.
              @@TODO We assume those concrete types should be final. This should be tested. @@
            </xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/experiment"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb/experiment.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/protocol"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb/protocol.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/object"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb/object.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/SimDB/0.7-20090417/simdb/dal"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/simdb/dal.xsd"/>
   <xsd:import namespace="http://www.ivoa.net/xml/dm/base/v0.1"
               schemaLocation="http://vo-urp.googlecode.com/svn/trunk/input/simdb/xsd/base.xsd"/>
   <xsd:element name="aProject" type="p4:Project">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) Project.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_2_8e0028f_1191338785390_934381_291</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="aSimulation" type="p3:Simulation">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) Simulation.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1173260098343_801274_269</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="aPostProcessing" type="p3:PostProcessing">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) PostProcessing.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1175776635250_448091_386</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="aSimulator" type="p2:Simulator">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) Simulator.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_8e0028f_1173260371343_174540_519</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="aPostProcessor" type="p2:PostProcessor">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) PostProcessor.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_14_0_8e0028f_1202820488812_969868_2587</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="aWebService" type="p5:WebService">
      <xsd:annotation>
         <xsd:documentation>
            Root element representing a(n) WebService.
          </xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_1_8e0028f_1178634214328_979805_732</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>