xsd/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ivoa.net/xml/SNAP/v0.1/model"
            xmlns:base="http://www.ivoa.net/xml/dm/base/v0.1"
            targetNamespace="http://www.ivoa.net/xml/SNAP/v0.1/model">

   <xsd:annotation>
      <xsd:documentation>Generated from UML-&gt;XMI-&gt;intermediate-&gt;XSD.</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.ivoa.net/xml/dm/base/v0.1"
               schemaLocation="http://volute.googlecode.com/svn/trunk/projects/theory/snapdm/xsd/base.xsd"/>
   <xsd:complexType name="Identity">
      <xsd:annotation>
         <xsd:documentation>This data type contains all flavor for objectType identifiers :
  - primary key value : numeric  &lt;br&gt;
  - string xmlId : string for XML ID (xsd:id type) for xml instances 
  - ivoId : URI format for external references

TODO : This entity should not be converted to a java class (already exists)</xsd:documentation>
         <xsd:appinfo>xmiid=_12_1_bd102fc_1213977792333_857914_246</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int" minOccurs="0"/>
         <xsd:element name="xmlId" type="xsd:string" minOccurs="0"/>
         <xsd:element name="ivoId" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>