trunk/input/simdb/xsd/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:vo-urp="http://vo-urp.googlecode.com/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.ivoa.net/xml/SimDB/0.5-20090114/model"
            xmlns:base="http://www.ivoa.net/xml/dm/base/v0.1"
            targetNamespace="http://www.ivoa.net/xml/SimDB/0.5-20090114/model">
   <xsd:annotation>
      <xsd:documentation>Generated from UML-&gt;XMI-&gt;intermediate-&gt;XSD.</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.ivoa.net/xml/dm/base/v0.1"
               schemaLocation="http://code.google.com/p/vo-urp/source/browse/trunk/input/simdb/xsd/base.xsd"/>
   <xsd:complexType name="Identity">
      <xsd:annotation>
         <xsd:documentation>This data type contains all flavor for objectType identifiers :
  - primary key value : numeric  &lt;br&gt;
  - string xmlId : string for XML ID (xsd:id type) for xml instances 
  - ivoId : URI format for external references

TODO : This entity should not be converted to a java class (already exists)</xsd:documentation>
         <xsd:appinfo>
            <vo-urp:identifier>_12_1_bd102fc_1213977792333_857914_246</vo-urp:identifier>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="xsd:int" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>the primary key generated by JPA after persist execution : this value is updated by PostPersist &amp; PostLoad JPA events. 
This value is transient because the metadata object owns the "real" id.</xsd:documentation>
               <xsd:appinfo>
                  <vo-urp:identifier>_12_1_bd102fc_1213975850771_750907_286</vo-urp:identifier>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="xmlId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>A local xsd:ID for this object, can be used when registering a DM/Resource that has internal references.</xsd:documentation>
               <xsd:appinfo>
                  <vo-urp:identifier>_12_1_bd102fc_1213975937667_508856_288</vo-urp:identifier>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ivoId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation> A local xsd:ID for this object, can be used when registering a DM/Resource that has internal references.</xsd:documentation>
               <xsd:appinfo>
                  <vo-urp:identifier>_12_1_bd102fc_1213975965327_442406_290</vo-urp:identifier>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>